body{
  padding-top: 40px;
  font-family: 'Courier New', monospace;
  text-align: center;
  color: gray;
  background-color: #edf6f9;
}
#target{
  font-size: 48px;
  letter-spacing: .1em;
}
#message{
  font-size: 24px;
}
input{
  text-align: center;
  height: 32px;
}
.input :hover{
  cursor: pointer;
}